<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Client</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        #messages {
            border: 1px solid #ccc;
            padding: 10px;
            height: 300px;
            overflow-y: scroll;
        }
        input[type="text"] {
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>WebSocket Client</h1>
    <div id="messages"></div>
    <input type="text" id="messageInput" placeholder="Введите сообщение">
    <button id="sendButton">Отправить</button>

    <script>
        const socket = new WebSocket('ws://localhost:8000/ws/artwork/1/');

        socket.onopen = function(e) {
            console.log('WebSocket подключен');
            document.getElementById('messages').innerHTML += '<p>Подключено к серверу WebSocket.</p>';
        };

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            document.getElementById('messages').innerHTML += `<p>${data.message}</p>`;
        };

        socket.onclose = function(e) {
            console.log('WebSocket закрыт');
            document.getElementById('messages').innerHTML += '<p>Соединение закрыто.</p>';
        };

        document.getElementById('sendButton').onclick = function() {
            const input = document.getElementById('messageInput');
            const message = input.value;

            if (message) {
                socket.send(JSON.stringify({'message': message}));
                input.value = ''; // очищаем поле ввода
            } else {
                alert('Введите сообщение!');
            }
        };
    </script>
</body>
</html>
